

    <%- include('./partials/header.ejs')%>

    <div class="main-body">
        <h3 class="mb-3">
            Welcome to the Ghanaian Students Association at UNCC Events.
        </h3>
        <p class="mb-3">
            Ghanaian Students Association is an organization that aims to create a community for past, future, and current Ghanaian students of UNC Charlotte. 
            Our goal is to support current and future Ghanaian students at UNC Charlotte by providing a community and a network that fosters peer learning, 
            information sharing, community support, mentorship, career advising, and friendship. As a Ghanaian group at UNC Charlotte, GSA, will also provide 
            a platform for local and international students who want to learn about Ghanaian culture. GSA is open to anyone interested in learning about our beautiful country. 
        </p>

        <p>
            Check out the Events Section for upcoming events.
        </p>
    </div>

    <%- include('./partials/footer.ejs')%>

   