<%- include('../partials/header.ejs') %>

<div class="main-body">
    <div class="container body-container">
        <div class="row mb-4">
            <div class="col-12">
                <h5><strong>Sign Up for an Account</strong></h5>
            </div>
        </div>
        <form method="POST" action="/users" enctype="application/x-www-form-urlencoded">
            <!-- First Name -->
            <div class="form-row align-items-center">
                <div class="col-sm-3">
                    <label for="firstName">First Name:</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name" required>
                </div>
            </div>
            <!-- Last Name -->
            <div class="form-row align-items-center">
                <div class="col-sm-3">
                    <label for="lastName">Last Name:</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name" required>
                </div>
            </div>
            <!-- Email -->
            <div class="form-row align-items-center">
                <div class="col-sm-3">
                    <label for="email">Email:</label>
                </div>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
            </div>
            <!-- Password -->
            <div class="form-row align-items-center">
                <div class="col-sm-3">
                    <label for="password">Password:</label>
                </div>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Create a password" required>
                </div>
            </div>
            <!-- Confirm Password -->
            <div class="form-row align-items-center">
                <div class="col-sm-3">
                    <label for="confirmPassword">Confirm Password:</label>
                </div>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <p>Already have an account? <a href="/users/login">Log in here</a>.</p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
